.body{
    height: 100%;
    width: 100%S;
}

.w-100{
    height: auto;
    width: 60%;
}

.carousel-item{
    height: 32rem;
    border: 1px solid green;
}

.product-section{
    
    margin-top: 10px;
  
   
}
.product-section .container{
    
    
}

.card{
    margin-right: 5rem;
}

@media only screen and (max-width: 767px) {
        .carousel-item{
            height: 15rem;
           
        }

  }